In [1]:
import pandas as pd
data = pd.read_excel('C:/Users/user/Desktop/joan/RGV030.xlsx').iloc[:1000]

In [8]:
# 原始資料
data['MICRO_RECEIVED_TIME']

0     2020-11-19 23:58:14
1     2020-11-19 23:59:28
2     2020-11-20 00:00:36
3     2020-11-20 00:01:57
4     2020-11-20 00:07:04
              ...
995   2020-11-20 23:33:56
996   2020-11-20 23:34:15
997   2020-11-20 23:43:20
998   2020-11-20 23:44:08
999   2020-11-20 23:45:02
Name: MICRO_RECEIVED_TIME, Length: 1000, dtype: datetime64[ns]

In [16]:
# 轉天
data['MICRO_RECEIVED_TIME'].dt.floor('D')

0     2020-11-19
1     2020-11-19
2     2020-11-20
3     2020-11-20
4     2020-11-20
         ...
995   2020-11-20
996   2020-11-20
997   2020-11-20
998   2020-11-20
999   2020-11-20
Name: MICRO_RECEIVED_TIME, Length: 1000, dtype: datetime64[ns]

In [19]:
# 轉小時 前面加數字表示每幾小時為單位
data['MICRO_RECEIVED_TIME'].dt.floor('H')

0     2020-11-19 23:00:00
1     2020-11-19 23:00:00
2     2020-11-20 00:00:00
3     2020-11-20 00:00:00
4     2020-11-20 00:00:00
              ...
995   2020-11-20 23:00:00
996   2020-11-20 23:00:00
997   2020-11-20 23:00:00
998   2020-11-20 23:00:00
999   2020-11-20 23:00:00
Name: MICRO_RECEIVED_TIME, Length: 1000, dtype: datetime64[ns]

In [26]:
# 轉分鐘
data['MICRO_RECEIVED_TIME'].dt.floor('10T')

0     2020-11-19 23:50:00
1     2020-11-19 23:50:00
2     2020-11-20 00:00:00
3     2020-11-20 00:00:00
4     2020-11-20 00:00:00
              ...
995   2020-11-20 23:30:00
996   2020-11-20 23:30:00
997   2020-11-20 23:40:00
998   2020-11-20 23:40:00
999   2020-11-20 23:40:00
Name: MICRO_RECEIVED_TIME, Length: 1000, dtype: datetime64[ns]

In [20]:
# 轉秒
data['MICRO_RECEIVED_TIME'].dt.floor('30S')

0     2020-11-19 23:58:00
1     2020-11-19 23:59:00
2     2020-11-20 00:00:30
3     2020-11-20 00:01:30
4     2020-11-20 00:07:00
              ...
995   2020-11-20 23:33:30
996   2020-11-20 23:34:00
997   2020-11-20 23:43:00
998   2020-11-20 23:44:00
999   2020-11-20 23:45:00
Name: MICRO_RECEIVED_TIME, Length: 1000, dtype: datetime64[ns]

In [24]:
# 基本運算
data['Hour'] = data['MICRO_RECEIVED_TIME'].dt.floor('H')
data.groupby('Hour')['FROM_TO_NUMBER_RGV030'].sum()

Hour
2020-11-19 23:00:00     190.0
2020-11-20 00:00:00    2732.0
2020-11-20 01:00:00    3394.0
2020-11-20 02:00:00    2967.0
2020-11-20 03:00:00    3734.0
2020-11-20 04:00:00    3186.0
2020-11-20 05:00:00    3344.0
2020-11-20 06:00:00    2786.0
2020-11-20 07:00:00    3150.0
2020-11-20 08:00:00    3930.0
2020-11-20 09:00:00    3039.0
2020-11-20 10:00:00    3224.0
2020-11-20 11:00:00    1933.0
2020-11-20 12:00:00    2913.0
2020-11-20 13:00:00    2706.0
2020-11-20 14:00:00    3815.0
2020-11-20 15:00:00    2688.0
2020-11-20 16:00:00    3242.0
2020-11-20 17:00:00    3118.0
2020-11-20 18:00:00    3523.0
2020-11-20 19:00:00    3579.0
2020-11-20 20:00:00    2747.0
2020-11-20 21:00:00    3050.0
2020-11-20 22:00:00    2320.0
2020-11-20 23:00:00    1984.0
Name: FROM_TO_NUMBER_RGV030, dtype: float64

In [48]:
example = pd.read_clipboard()
example

              timestamp
0  2018-10-05  23:07:02
1  2018-10-05  23:07:13
2  2018-10-05  23:07:23
3  2018-10-05  23:07:36
4  2018-10-05  23:08:02
5  2018-10-05  23:09:16
6  2018-10-05  23:09:21
7  2018-10-05  23:09:39
8  2018-10-05  23:09:47
9  2018-10-05  23:10:01
10 2018-10-05  23:10:11
11 2018-10-05  23:10:23
12 2018-10-05  23:10:59
13 2018-10-05  23:11:03
14 2018-10-08  03:35:32
15 2018-10-08  03:35:58
16 2018-10-08  03:37:16
17 2018-10-08  03:38:04
18 2018-10-08  03:38:30
19 2018-10-08  03:38:36
20 2018-10-08  03:38:42
21 2018-10-08  03:38:52
22 2018-10-08  03:38:57
23 2018-10-08  03:39:10
24 2018-10-08  03:39:27
25 2018-10-08  03:40:47
26 2018-10-08  03:40:54
27 2018-10-08  03:41:02
28 2018-10-08  03:41:12
29 2018-10-08  03:41:32

In [49]:
example['timestamp'] =  example.index.get_level_values(1)
example['timestamp'] = pd.to_datetime(example['timestamp'])
example = example.droplevel(0,axis = 0)
diffs = example['timestamp'] - example['timestamp'].shift()
laps = diffs > pd.Timedelta('10 min')
periods = laps.cumsum().apply(lambda x: 'period_{}'.format(x+1))
example['10min_period'] = periods
example

            timestamp 10min_period
2018-10-05 2018-10-05     period_1
2018-10-05 2018-10-05     period_1
2018-10-05 2018-10-05     period_1
2018-10-05 2018-10-05     period_1
2018-10-05 2018-10-05     period_1
2018-10-05 2018-10-05     period_1
2018-10-05 2018-10-05     period_1
2018-10-05 2018-10-05     period_1
2018-10-05 2018-10-05     period_1
2018-10-05 2018-10-05     period_1
2018-10-05 2018-10-05     period_1
2018-10-05 2018-10-05     period_1
2018-10-05 2018-10-05     period_1
2018-10-05 2018-10-05     period_1
2018-10-08 2018-10-08     period_2
2018-10-08 2018-10-08     period_2
2018-10-08 2018-10-08     period_2
2018-10-08 2018-10-08     period_2
2018-10-08 2018-10-08     period_2
2018-10-08 2018-10-08     period_2
2018-10-08 2018-10-08     period_2
2018-10-08 2018-10-08     period_2
2018-10-08 2018-10-08     period_2
2018-10-08 2018-10-08     period_2
2018-10-08 2018-10-08     period_2
2018-10-08 2018-10-08     period_2
2018-10-08 2018-10-08     period_2
2018-10-08 2018-10-08     period_2
2018-10-08 2018-10-08     period_2
2018-10-08 2018-10-08     period_2